---
layout: archive
permalink: /categories/
title: "Podcasts by Category"
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% include base_path %}
{% include group-by-array collection=site.podcasts field="categories" %}

{% for category in group_names %}
  {% assign podcasts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in podcasts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}