---
layout: archive
permalink: /resources/enre/
title: "Environmental Econ Podcasts & More"
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% include base_path %}

This wesbite includes a list of podcast, videos, and articles by topic that I have used in my courses. 
Click on each topic to expand or collapse the section. 

<h2 style="color: darkblue;">Market Failure</h2>

<details close>
  <summary>
  Externalities
  </summary>
  {% for post in site.enre reversed %}
    {% if post.category == 'externalities' %}
      {% include archive-single-podcasts.html %}
    {% endif %}
  {% endfor %}
  
  </details>

  <details close>
    <summary>
    Tragedy of the Commons
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'tragedy of the commons' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>


  <details close>
    <summary>
    Public Goods
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'public goods' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>


<h2 style="color: purple;"> Policies </h2> 

  <details close>
    <summary class="id1">
    Command-and-Control
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'command-and-control' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
   </details>

  <details close>
    <summary class="id1">
    Subsidies
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'subsidies' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>
   <details close>
    <summary class="id1">
    Carbon Tax
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'carbon tax' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
   </details>

  <details close>
        <summary class="id1">
        Cap-and-Trade
        </summary>
        {% for post in site.enre reversed %}
          {% if post.category == 'cap-and-trade' %}
            {% include archive-single-podcasts.html %}
          {% endif %}
        {% endfor %}
        
  </details>


<h2 style="color: #b8035d;"> Private Solutions and Voluntary Strategies </h3>

  <details close>
    <summary class="id2">
    Coase Theorem
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'coase theorem' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

  <details close>
    <summary class="id2">
    Recycling
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'recycling' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

<h2 style="color: darkblue;">Benefit-Cost Analysis</h2>

  <details close>
    <summary>
    Benefit-Cost Analysis
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'benefit-cost' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

<h2 style="color:  purple;">Benefits</h2>
  <details close>
    <summary class = "id1">
    Benefits - General
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'benefits' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}

  </details>

  <details close>
    <summary class = "id1">
    Hedonic Pricing Mehod
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'hedonic' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

  <details close>
    <summary class = "id1">
    Travel Cost Method
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'travel cost' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

  <details close>
    <summary class = "id1">
    Stated Preference Methods
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'stated preferences' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

  <details close>
    <summary class = "id1">
    Other Valuation Methods
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'other valuation' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

<h2 style="color: #b8035d;"> Climate Change 🌎 </h2> 

  <details close>
    <summary class="id2">
    Climate Change
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'climate change' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
   </details>  

  <details close>
    <summary class="id2">
    Carbon Offsets
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'carbon offsets' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>




<h2 style="color: darkblue;"> Other Topics </h2>

  <details close>
      <summary>
      Energy
      </summary>
      {% for post in site.enre reversed %}
        {% if post.category == 'energy' %}
          {% include archive-single-podcasts.html %}
        {% endif %}
      {% endfor %}
      
  </details>


  <details close>
      <summary>
      Environmental Justice
      </summary>
      {% for post in site.enre reversed %}
        {% if post.category == 'environmental justice' %}
          {% include archive-single-podcasts.html %}
        {% endif %}
      {% endfor %}
      
  </details>

  <details close>
    <summary>
    ESG
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'ESG' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>
