---
layout: archive
permalink: /resources/enre/
title: "Environmental Econ Podcasts & More"
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% include base_path %}

<h2 style="color: darkblue;">Market Failure</h2>

<details open>
  <summary>
  Externalities
  </summary>
  {% for post in site.enre reversed %}
    {% if post.category == 'externalities' %}
      {% include archive-single-podcasts.html %}
    {% endif %}
  {% endfor %}
  
  </details>

  <details close>
    <summary>
    Tragedy of the Commons
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'tragedy of the commons' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>




<h2 style="color: purple;"> Policies and Strategies </h2> 

    <details close>
      <summary class="id1">
      Coase Theorem
      </summary>
      {% for post in site.enre reversed %}
        {% if post.category == 'coase theorem' %}
          {% include archive-single-podcasts.html %}
        {% endif %}
      {% endfor %}
      
    </details>

  <details open>
    <summary class="id1">
    Command-and-Control
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'command-and-control' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
   </details>

  <details close>
    <summary class="id1">
    Subsidies
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'subsidies' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>
   <details close>
    <summary class="id1">
    Carbon Tax
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'carbon tax' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
   </details>

  <details close>
        <summary class="id1">
        Cap-and-Trade
        </summary>
        {% for post in site.enre reversed %}
          {% if post.category == 'cap-and-trade' %}
            {% include archive-single-podcasts.html %}
          {% endif %}
        {% endfor %}
        
  </details>

  <details close>
    <summary class="id1">
    Carbon Offsets
    </summary>
    {% for post in site.enre reversed %}
      {% if post.category == 'carbon offsets' %}
        {% include archive-single-podcasts.html %}
      {% endif %}
    {% endfor %}
    
  </details>

