---
layout: archive
title: "Grants"
permalink: /grants/
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% include base_path %}

<h2 style="color: darkblue;">External Grants</h2>
{% for post in site.grants reversed %}
  {% if post.type == "external" %}
    {% include archive-single-grants.html %}
  {% endif %}
{% endfor %}

<h2 style="color: darkblue;">Internal Research Awards</h2>
{% for post in site.grants reversed %}
  {% if post.type == "internal" %}
    {% include archive-single-grants.html %}
  {% endif %}
{% endfor %}

