---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all my presentations!</a></p>

{% endif %}


<details close>
  <summary>
  2019
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2019" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2018
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2018" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2017
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2017" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2016
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2016" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


<details close>
  <summary>
  2015
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2015" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


