---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline; color: #007BFF;"><a href="/talkmap.html">👉See a map 🌎 of all my presentations!👈 </a></p>

{% endif %}

<details open>
  <summary>
  2024
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2024" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2023
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2023" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2022
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2022" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


<details close>
  <summary>
  2021
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2021" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


<details close>
  <summary>
  2020
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2020" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2019
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2019" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2018
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2018" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2017
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2017" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>

<details close>
  <summary>
  2016
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2016" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


<details close>
  <summary>
  2015
  </summary>
  {% for post in site.talks reversed %}
    {% assign year = post.date | date: "%Y" %}
      {% if year == "2015" %}
        {% include archive-single-talk.html %}
      {% endif %}
  {% endfor %} 
 </details>


