---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q95WSVMDNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q95WSVMDNZ');
</script>

{% include base_path %}

<hr>
<h2 style="color: darkblue;"> Undergraduate Courses </h2>

{% for post in site.teaching reversed %}
  {% if post.cat == 'undergrad' %}
    {% include archive-single-teaching.html %}
  {% endif %}
{% endfor %}


<h2 style="color: darkblue;">Graduate Courses</h2>

{% for post in site.teaching reversed %}
  {% if post.cat == 'grad' %}
    {% include archive-single-teaching.html %}
  {% endif %}
{% endfor %}

<h2 style="color: purple;">Teaching Resources</h2>

* [Environmental Econ Resources](https://jimegon.github.io/resources/enre/) 